= semantic_form_for @calculator do |f|

	- if (controller.action_name == "edit")
		= render "employee", :f => f
		= render "absence", :f => f
		= render "production", :f => f
	- else
		= render "#{@calculator.current_step}", :f => f
	
	.actions
		= f.submit 'Continue'
		= f.submit 'Back', :name => 'back_button' unless @calculator.first_step?
