= f.inputs :name => "Savings Made by Reducing Absence-Sick Days" do

	= f.input :sick_days_reduction, :label => "Enter Reduced Number of Absence or Sick Days per Employee?", :hint => "Annual reduction in absence and sick days per employee"
	= f.input :new_sick_days, :label => "New Absence or Sick Days per Employee", :hint => "(value will update automatically)", :input_html => { :disabled => true }
	= f.input :total_savings, :label => "Total Salary & Revenue Savings (£)", :hint => "Savings due to reduced absence and sick days (value will update automatically)", :input_html => { :disabled => true }
	= f.input :employee_savings, :label => "Salary & Revenue Savings per Employee (£)", :hint => "(value will update automatically)", :input_html => { :disabled => true }
	