!!! XML
!!! 5
%html{html_attrs('en-gb')}
	%head
		%title
			= content_for?(:title) ? yield(:title) : "Calculator"
		%meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
		= stylesheet_link_tag 'application'
		= formtastic_stylesheet_link_tag
		= javascript_include_tag :defaults
		= csrf_meta_tag
		= yield(:head)

	%body
		#container
			/ - flash.each do |name, msg|
			/ 	= content_tag :div, msg, :id => "flash_#{name}"

			= content_tag :h1, yield(:title) if show_title?
			= yield
